@using Antlr.Runtime.Tree
@using GigHub.Controllers
@using GigHub.Models
@model GigHub.ViewModels.GigsViewModel


<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group" style="width: 300px;">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>


            </span>


        </div>

    </div>
}
<ul id="gigs" class="gigs offset4">
    @foreach (var gig in Model.UpComingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">

                    <a href="@Url.Action("Detail", "Gigs", new {id=gig.Id})">
                        @gig.Artist.Name
                    </a>

                    @if (gig.IsCanceled)
                {
                        <span class="label label-warning">Cancelled</span>
                    }
                    @if (Model.ShowActions)
                {
                        <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-follow">Following ?</button>
                    }
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id" class="btn @(Model.Attendances.Contains(gig.Id)? "btn-info":"btn-default") btn-sm pull-right js-toggle-attendance">Going ?</button>
                }
            </div>

        </li>
    }
</ul>

@section scripts{
    <script>

        GigsController.init("#gigs");
    </script>
}